
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    .footer {
        padding: 10px; /* Some padding */
        text-align: center; /* Center text*/
        background: #ddd; /* Grey background */
        margin-top: 240px;
    }
</style>

<div class="alert alert-warning">
    <strong>Uyarı!</strong> Kargo iptal işlemi gönderiden en geç 1 gün içerisinde yapılması gereklidir.
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Her Yere Kargo</h3>
            <p>İster yurt içi ister yurt dışı olmak üzere sizlere güzel bir hizmet verebilmek için her türlü desteğimiz mevcuttur.</p>

        </div>
        <div class="col-sm-4">
            <h3>Hızlı Kargo</h3>
            <p>Kuryelerimiz olabilecek en hızlı şekilde sizlere hizmetlerini sağlamaktadır.</p>
        </div>
        <div class="col-sm-4">
            <h3>En Güvenilir Kargo</h3>
            <p>Gönderdiğiniz kargoların en iyi şekilde paketlenip gönderilmesi için elimizden geleni yaptığımızdan şüpheniz olmasın.</p>
        </div>
    </div>
</div>

<div class="footer">
    <font size="+3">Destekleriniz için teşekkür ederiz!</font>
</div>



